body {
    font-family: 'Coda', cursive;
    background: url("../images/clock.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(203, 211, 220);
    color: #fff;
    line-height: none;
    font-size: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: rgb(165, 148, 148);
}

nav a:hover {
    color: rgb(227, 33, 44);
}

.nav-item:hover {
    color: rgb(227, 33, 44);
}

.jumbotron {
    position: relative;
    height: 450px;
    padding: 0;
    margin-bottom: 5px;
}

.background-image {
    height: 100%;
    width: 100vw;
    background: url("../images/60banner.jpg") no-repeat center center; 
    -webkit-background-size: fill;
    -moz-background-size: fill;
    -o-background-size: fill;
    background-size: fill;
}

.scraper {
    cursor: pointer;
}

.move-right {

    float: right;
}

.card, .card-body  {
    background-color: #000;
    margin: 20px 0;
    border-radius: 10px;
}

.card-header {
    border-radius: 10px;
    background-color: rgb(115, 22, 28);
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card .card-header .btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card .card-header .btn.delete {
    right: 130px;
}

.saved-article-link {
    margin-right: 325px;
}

.card .card-header .article-link {
    display: inline-block;
    margin-right: 280px;
}

textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    border-bottom: none;
}

.list-group-item {
    word-wrap: break-word;
    padding: 30px;
}

.note-delete {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin: 1%;
    padding: 5px;
}

.navbar {
    background-color: #000;
}

.modal-content {
    background-color: rgb(115, 22, 28);
}

.modal-body {
    padding: 5%;
}

.notesList {
    background-color: #000;
    border: 2px solid rgb(115, 22, 28);
}

textArea {
    margin-top: 30px;
    background-color: #000;
    color: white;
}

#saveNewNote {
    margin-top: 15px;
    background-color: inherit;
    color: white;
}